body {
	font-family: "Open Sans", sans-serif;	
}

footer{display:block;font-size:14px;margin-top:30px;color:rgba(255,255,255,0.7)}
footer a{color:rgba(255,255,255,0.7);text-decoration:none}
footer a:hover{color:#fff}
footer{background:#0d2235;min-height:200px;padding:10px 0 10px}
footer h6{color:#fff;margin-top:5px;display:inline-block;position:relative;text-transform:uppercase;font-style:italic;margin-bottom:15px;font-size:16px;font-weight:700;font-family:Roboto,"Segoe UI","Helvetica Neue",Arial,sans-serif}
footer-logo{float:right;text-align:right;width:318px;position:relative;top:46px}
footer-logo img{height:46px;opacity:.3}
footer h6::after{content:"";height:2px;background:#1ebba3;position:absolute;left:0;width:95%;bottom:-5px}
footer a:last-child i{font-weight:700;top:2px;left:-.5px}
footer a:first-child i{left:-.5px}
footer-inner{padding-top:30px}
footer h4::after{right:0;margin:0 auto}
footer-logo{display:none;float:none;text-align:center}
footer-logo img{position:static;margin-top:20px}

h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	position: relative;
	margin: 30px 0 60px;
}

h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #1abc9c;
	left: 0;
	right: 0;
	bottom: -20px;
}

.carousel {
	margin: 0 auto;
	padding: 0 70px;
}

.carousel .item {
	color: #999;
	overflow: hidden;
	min-height: 120px;
	font-size: 13px;
}

.carousel .media {
	position: relative;
	padding: 0 0 0 20px;
}

.carousel .media img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
}

.carousel .testimonial-wrapper {
	padding: 0 10px;
}

.carousel .testimonial {
	color: #808080;
	position: relative;
	padding: 15px;
	background: #f1f1f1;
	border: 1px solid #efefef;
	border-radius: 3px;
	margin-bottom: 15px;
}

.carousel .testimonial::after {
	content: "";
	width: 15px;
	height: 15px;
	display: block;
	background: #f1f1f1;
	border: 1px solid #efefef;
	border-width: 0 0 1px 1px;
	position: absolute;
	bottom: -8px;
	left: 46px;
	transform: rotateZ(-46deg);
}

.carousel .star-rating li {
	padding: 0 2px;
}

.carousel .star-rating i {
	font-size: 16px;
	color: #ffdc12;
}

.carousel .overview {
	padding: 3px 0 0 15px;
}

.carousel .overview .details {
	padding: 5px 0 8px;
}

.carousel .overview b {
	text-transform: uppercase;
	color: #1abc9c;
}

.carousel .carousel-indicators {
	bottom: -70px;
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin: 1px 2px;
}

.carousel-indicators li {
	background: #e2e2e2;
	border: 4px solid #fff;
}

.carousel-indicators li.active {
	color: #fff;
	background: #1abc9c;
	border: 5px double;
}
