<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BankControl-kontrole</title>
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/styleHome.css" th:href="@{/css/styleHome.css}"
	rel="stylesheet">
</head>
<body>
	<header th:fragment="user-header">
		<nav class="navbar navbar-default navbar-expand-xl navbar-light">
			<div class="navbar-header d-flex col">
				<a class="navbar-brand" href="/home"><i class="fa fa-university"></i>Bank<b>Control</b></a>
				<button type="button" data-target="#navbarCollapse"
					data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
					<span class="navbar-toggler-icon"></span> <span class="icon-bar"></span>
					<span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbarCollapse"
				class="collapse navbar-collapse justify-content-start">
				<ul class="nav navbar-nav">
					<li class="nav-item active"><a href="/home" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="/commissions" class="nav-link">Moje
							kontrole</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right ml-auto">
					<li class="nav-item dropdown"><a data-toggle="dropdown"
						class="nav-link dropdown-toggle user-action"><span
							th:text="${#authentication.getPrincipal().getUsername()}"></span>
							<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item"><i class="fa fa-user-o"></i><span
									th:text="${#authentication.getPrincipal().authorities}"></span></a></li>
							<li class="divider dropdown-divider"></li>
							<li sec:authorize="isAuthenticated()"><a
								th:href="@{/logout}" class="dropdown-item"><i
									class="fa fa-power-off"></i>Wyloguj</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container" th:fragment="control-roles">
		<div class="row">
			<div class="col-sm-12">
				<h2>
					Zasady ogólne <b>Kontroli</b>
				</h2>

				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item carousel-item active">
							<div class="row">
								<div class="col-sm-12">
									<div class="testimonial-wrapper">
										<div class="testimonial">Zasady ogólne</div>
										<div class="media">
											<div class="media-left d-flex mr-3">
												<img th:src="@{/images/zasady.jpg}" />
											</div>
											<div class="media-body">
												<div class="overview">
													<div class="details">
														<ul class="list-unstyled mt-3 mb-4">
															<li>kontrola wykonuje jest przez pracownika
																posiadającego stosowne upoważnienie</li>
															<li>kontrola nie może być wcześniej awizowana</li>
															<li>kontrola jest przeprowadzana na podstawie
																obowiązujących procedur</li>
														</ul>
													</div>
													<div class="star-rating"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">

					<div class="carousel-inner">
						<div class="item carousel-item active">
							<div class="row">
								<div class="col-sm-6">
									<div class="testimonial-wrapper">
										<div class="testimonial">Kontrola bezpieczeństwa</div>
										<div class="media">
											<div class="media-left d-flex mr-3">
												<img th:src="@{/images/bezpieczenstwo.jpg}" />
											</div>
											<div class="media-body">
												<div class="overview">
													<div class="name">
														<b>Zasady:</b>
													</div>
													<div class="details">
														<ul class="list-unstyled mt-3 mb-4">
															<li>blokowanie komputera przed opuszczeniem
																stanowiska</li>
															<li>przechowywanie dokumentacji w wyznaczonym
																miejscu</li>
															<li>zamykanie sejfów stanowiskowych</li>
														</ul>
													</div>
													<div class="star-rating"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="testimonial-wrapper">
										<div class="testimonial">Kontola gotówki</div>
										<div class="media">
											<div class="media-left d-flex mr-3">
												<img th:src="@{/images/gotowka.jpg}">
											</div>
											<div class="media-body">
												<div class="overview">
													<div class="name">
														<b>Zasady:</b>
													</div>
													<div class="details">
														<ul class="list-unstyled mt-3 mb-4">
															<li>zgodność rzeczywistego stanu gotówki ze stanem
																wynikającym z systemu</li>
															<li>przestrzeganie limitów gotówki na stanowisku</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="page-footer font-small blue-grey lighten-5"
		th:fragment="footer">
		<div class="container text-center text-md-left mt-5">
			<div class="row mt-3 dark-grey-text">
				<div class="col-md-3 mx-auto">

					<h6 class="text-uppercase font-weight-bold">O Banku</h6>
					<p>
						<a class="dark-grey-text" href="#!">Placówki Banku</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">Zarząd i Rada Nadzorcza</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">Raport roczny 2018</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">Grupa Kapitałowa Banku</a>
					</p>
				</div>
				<div class="col-md-3 mx-auto">
					<h6 class="text-uppercase font-weight-bold">Przydatne linki</h6>
					<p>
						<a class="dark-grey-text" href="#!">Procedury</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">Zgłoś fraud</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">Dokumentacja klientów</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">Pomoc</a>
					</p>

				</div>
				<div class="col-md-3 mx-auto">
					<h6 class="text-uppercase font-weight-bold">Informacje prawne</h6>
					<p>
						<a class="dark-grey-text" href="#!">RODO</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">Gwarancja depozytów BFG</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">FATCA/CRS</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">MiFID</a>
					</p>
				</div>
				<div class="col-md-3 mx-auto">
					<h6 class="text-uppercase font-weight-bold">Kontakt</h6>
					<p>
						<i class="fas fa-home mr-3"></i> Mój Bank S.A.
					</p>
					<p>
						<i class="fas fa-envelope mr-3"></i> info@mb.pl
					</p>
					<p>
						<i class="fas fa-phone mr-3"></i> + 71 234 567 88
					</p>
					<p>
						<i class="fas fa-print mr-3"></i> ul. Gajowicka 197
					</p>
					<p>
						<i class="fas fa-print mr-3"></i> 53-155 Wrocław
					</p>

				</div>
			</div>
		</div>
		<div class="footer-copyright text-center text-black-50 py-3">©
			2019 Copyright</div>
	</footer>
</body>
</html>