<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Strona logowania</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="../css/static/loginForm.css" th:href="@{/css/loginForm.css}"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="login-form">
		<form th:action="@{/login}" method="post">
			<div class="avatar">
				<i class="material-icons">&#xE7FF;</i>
			</div>
			<h4 class="modal-title">Zaloguj się</h4>
			<div class="form-group">
				<input type="text" id="login" name="login" class="form-control"
					placeholder="Login" required="required">
			</div>
			<div class="form-group">
				<input type="password" id="password" name="password" class="form-control"
					placeholder="Hasło" required="required">
			</div>
			<input name="Submit" value="Zaloguj" type="Submit" class="btn btn-primary btn-block btn-lg">
		</form>
	</div>
</body>
</html>