<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BankControl-kontrole</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/static/table.css" th:href="@{/css/table.css}"
	rel="stylesheet">
</head>
<body>
	<header>
		<div th:insert="~{home :: user-header}"></div>
	</header>
	<div class="container">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Moje Kontrole</h2>
					</div>
					<div class="col-sm-6">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-warning"> <input type="radio"
								name="status" value="toDo"> Do wykonania
							</label> <label class="btn btn-success"> <input type="radio"
								name="status" value="done"> Wykonane
							</label> <label class="btn btn-info active"> <input type="radio"
								name="status" value="wszystkie" checked="checked">
								Wszystkie
							</label>
						</div>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Kontrola</th>
						<th>Nazwa Oddziału</th>
						<th>Numer NRO</th>
						<th>Termin wykonania</th>
						<th>Status</th>
						<th>Data wykonania</th>
						<th>Akcje</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="commission: ${commissions}"
						th:data-status="${commission.status ? 'done' : 'toDo'}">
						<td th:text="${commission.type.name}">Kontrola</td>
						<td th:text="${commission.Branch.name}">Oddział</td>
						<td th:text="${commission.Branch.brn}">BRN</td>
						<td
							th:text="${#dates.format(new java.util.Date(commission.deadline),
							'dd-MM-YYYY')}">Termin
							kontroli</td>
						<td><span th:text="${commission.status} ? 'Wykonana'"
							class="label label-success" data-status="done">Status
								kontroli</span> <span th:text="${!commission.status} ? 'Do wykonania'"
							class="label label-warning" data-status="toDo">Status
								kontroli</span></td>
						<td
							th:text="${commission.date != null} ? ${#dates.format(commission.date,
							'dd-MM-yyyy')} : '-'">Data
							kontroli</td>
						<td><a th:if="${!commission.status}"
							th:href="${'/commissions/control/' + commission.id}" class="edit"
							title="Skontroluj" data-toggle="modal"><i class="fa fa-tasks"
								data-toggle="tooltip" aria-pressed="true"></i></a> <a
							th:if="${commission.status}" class="edit" data-toggle="modal">
								<i class="fa fa-tasks" data-toggle="tooltip"></i>
						</a> <a th:if="${commission.status}"
							th:href="${'/commissions/edit/' + commission.id}" class="edit"
							title="Edytuj" data-toggle="modal"><i class="fa fa-edit"
								data-toggle="tooltip" aria-pressed="true"></i></a> <a
							th:if="${!commission.status}" class="edit" data-toggle="modal">
								<i class="fa fa-edit" data-toggle="tooltip"></i>
						</a> <a th:href="${'commissions/' + commission.id}" title="Podgląd"><i
								class="fa fa-eye"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script th:src="@{'/js/script.js'}"></script>
</body>
</html>