<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BankControl-wykonaj kontrolę</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/static/table.css" th:href="@{/css/table.css}"
	rel="stylesheet">
</head>
<body>
	<header>
		<div th:insert="~{home :: user-header}"></div>
	</header>
	<div class="container">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2 th:text="${commission.type.name}"></h2>
						<p th:text="${commission.branch.name}" />
						<p th:text="|BRN: ${commission.branch.brn}|" />
						<p
							th:text="|Termin kontroli: ${#dates.format(new java.util.Date(commission.deadline),'dd-MM-YYYY')}|" />
					</div>
				</div>
			</div>
			<form action="#"
				th:action="@{/control/{id} (id=${commission.id})}"
				th:object="${commission}" method="post">
				<fieldset>
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Imię i nazwisko pracownika</th>
								<th>NRP</th>
								<th>Test</th>
								<th>Wynik</th>
								<!-- <th: block th:each="h: ${testy}">
						<th th:colspan="${testy.size()}" th:text="${h.trescTestu}"></th>
						</th:block> -->
							</tr>
						</thead>
						<tbody>
						<tbody th:remove="all-but-first">
							<tr th:each="result, itemStat : ${resultsListForm.results}">
								<td
									th:text="|${result.controlCase.employee.getFirstName()} ${result.controlCase.employee.getLastName()}|">Imię
									i nazwisko</td>
								<td th:text="${result.controlCase.employee.getEpn()}">NRP</td>
								<td th:text="${result.test.getName()}">Test</td>
								<td>
									<div class="col-xs-8">
										<input hidden th:name="|results[${itemStat.index}].id|"
											th:value="${result.getId()}" /> <input hidden
											th:name="|results[${itemStat.index}].controlCase.id|"
											th:value="${result.getControlCase().getId()}" /> <input
											hidden th:name="|results[${itemStat.index}].test.id|"
											th:value="${result.getTest().getId()}" /> <select
											class="form-control"
											th:name="|results[${itemStat.index}].testResult|"
											th:object="${testResult}" required>
											<th:block th:each="test: ${tests}">
												<th:block th:if="${test.id==result.test.getId()}">
													<option value=""></option>
													<option th:each="ans: ${test.testResult}"
														th:value="${ans.id}" th:text="${ans.name}">
													</option>
												</th:block>
											</th:block>
										</select>
									</div>
								</td>
							</tr>
						</tbody>
						</tbody>
					</table>
				</fieldset>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg">
						<i class="fa fa-save"></i> Zapisz
					</button>
					<a th:href="${'/commissions'}" class="btn btn-primary btn-lg"><i
						class="fa fa-close"></i> Anuluj</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>