<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BankControl-podgląd kontroli</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/static/table.css" th:href="@{/css/table.css}"
	rel="stylesheet">
</head>
<body>
	<header>
		<div th:insert="~{home :: user-header}"></div>
	</header>
	<div class="container">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2 th:text="${commission.type.name}"></h2>
						<p th:text="${commission.branch.name}" />
						<p th:text="|BRN: ${commission.branch.brn}|" />
						<p
							th:text="|Termin kontroli: ${#dates.format(new java.util.Date(commission.deadline),'dd-MM-YYYY')}|" />
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Imię i nazwisko pracownika</th>
						<th>NRP</th>
						<th>Test</th>
						<th>Wynik</th>
						<!-- <th: block th:each="h: ${testy}">
						<th th:colspan="${testy.size()}" th:text="${h.trescTestu}"></th>
						</th:block> -->
					</tr>
					</tr>
				</thead>
				<tbody>
				<tbody th:remove="all-but-first">
					<tr th:each="result: ${result}">
						<td
							th:text="|${result.controlCase.employee.firstName} ${result.controlCase.employee.lastName}|">Imię
							i nazwisko</td>
						<td th:text="${result.controlCase.employee.epn}">EPN</td>
						<td th:text="${result.test.name}">Test</td>
						<td
							th:text="${result.testResult != null} ? ${result.testResult.name} : '-'">Wynik</td>
						<!-- <th: block th:each="p: ${przypadek.wynikKontroli}">
						<td style="width: 350px" th:text="${p.wynik.odpowiedz}"/>
						</th:block> -->
					</tr>
				</tbody>
				</tbody>

			</table>
			<div style="text-align: center;">
				<a href="/commissions" class="btn btn-lg manage"><i
					class="fa fa-chevron-left"></i> <span> Powrót</span></a>
			</div>

		</div>

	</div>
</body>
</html>