<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BankControl- dodaj Oddział</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/static/form.css" th:href="@{/css/form.css}"
	rel="stylesheet">

</head>
<body>

	<div class="signup-form">
		<form th:object="${branch}" th:action="@{/addedBranch}"
			th:method="post">
			<div>
				<a th:href="${'/admin/branches'}" class="close" data-dismiss="modal"
					aria-hidden="true"><span>&times;</span></a>
			</div>


			<h2>Dodaj oddział</h2>
			<p>Proszę uzupełnić wszystkie pola!</p>
			<hr>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
					<input type="number" class="form-control" name="nro" th:field="*{brn}"
						placeholder="Numer NRO" required="required">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-home"></i></span> <input
						type="text" class="form-control" name="name" th:field="*{name}"
						placeholder="Nazwa oddzialu" required="required">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i
						class="fa fa-map-o fa-10x"></i></span> <input type="text"
						class="form-control" name="street" th:field="*{street}" placeholder="Ulica"
						required="required">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i
						class="fa fa-map-marker fa-10x"></i></span> <input type="text"
						class="form-control" name="zipCode" th:field="*{zipCode}" placeholder="Kod pocztowy"
						required="required">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-map fa-6x"></i></span>
					<input type="text" class="form-control" name="city" th:field="*{city}"
						placeholder="Miejscowość" required="required">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-at"></i></span> <input
						type="email" class="form-control" name="email" th:field="*{email}"
						placeholder="Adres e-mail" required="required">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-toggle-on"></i></span>
					<select class="form-control" name="status" th:field="*{status}"/>
					<option th:value="0" th:text="''" selected="selected" disabled="true"></option>
						<option th:each="status: ${branchStatus}" th:value="${branch.convertBranchStatusBack({status})}"
							th:text="${status}">
						</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg">
					<i class="fa fa-save"></i> Zapisz
				</button>
				<a th:href="${'/admin/branches'}" class="btn btn-primary btn-lg"><i
					class="fa fa-close"></i> Anuluj</a>
			</div>
		</form>
	</div>

</body>
</html>