<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BankControl</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/static/form.css"
	th:href="@{/css/form.css}" rel="stylesheet">
</head>
<body>
	<div class="signup-form">
		<form th:object="${commission}" th:action="@{/addedCommission}"
			th:method="post">
			<div>
				<a th:href="${'/admin/commissions'}"  class="close" data-dismiss="modal" aria-hidden="true"><span>&times;</span></a>
			</div>
			<h3>Zlecenie wykonania kontroli</h3>
			<hr>
			<div class="form-group">
				<label>Rodzaj Kontroli</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-tasks"></i></span>
					<select class="form-control" name="typeId"
						th:field="*{type}" required>
						<option th:disabled th:value="''" th:text="''"></option>
						<option th:each="type: ${types}"
							th:value="${type.id}" th:text="${type.name}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>Nazwa oddziału</label>
				<div class="input-group">
					 <span class="input-group-addon"><i class="fa fa-home"></i>
					 </span> <select class="form-control"
						name="selectedBranch" th:field="*{branch}" required>
						<option th:disabled th:value="''" th:text="''"></option>
						<option th:each="branch: ${branches}" th:value="${branch.brn}"
							placeholder="Wybierz oddział" th:text="${branch.name}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>Pracownik kontrolujący</label>
				<div class="input-group">
					 <span class="input-group-addon"><i class="fa fa-home"></i>
					 </span> <select class="form-control"
						name="selectedEmployee" th:field="*{employee}" required>
						<option th:disabled th:value="''" th:text="''"></option>
						<option th:each="employee: ${controlEmp}" th:value="${employee.epn}"
							th:text="|${employee.firstName} ${employee.lastName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="date"> Termin kontroli </label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-calendar"> </i></span>
					<input class="form-control" id="date" name="deadline" th:field="*{deadline}"
						type="date" size=10 required/>
				</div>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg">
					<i class="fa fa-save"></i> Zapisz
				</button>
				<a th:href="${'/admin/commissions'}" class="btn btn-primary btn-lg"><i
					class="fa fa-close"></i> Anuluj</a>
			</div>
		</form>
	</div>


	<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- <!-- Include Date Range Picker -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

	<script>
		$(document).ready(
				function() {
					var date_input = $('input[name="date"]');
					var container = $('.bootstrap-iso form').length > 0 ? $(
							'.bootstrap-iso form').parent() : "body";
					date_input.datepicker({
						format : 'dd-mm-yyyy',
						container : container,
						todayHighlight : true,
						autoclose : true,
						language : 'pl'
					})
				})
	</script>
</body>
</html>