<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BankControl- dodaj Oddział</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/static/form.css" th:href="@{/css/form.css}"
	rel="stylesheet">

</head>
<body>

	<div class="signup-form">
		<form th:object="${user}" th:action="@{/admin/addedUser}"
			th:method="post" autocomplete="off">
			<div>
				<a th:href="${'/admin/users'}" class="close" data-dismiss="modal"
					aria-hidden="true"><span>&times;</span></a>
			</div>


			<h2>Dodaj użytkownika</h2>
			<p>Proszę uzupełnić wszystkie pola!</p>
			<hr>
			<div class="form-group">
				<label>Użytkownik</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-home"></i> </span>
					<select class="form-control" th:field="*{epn}">
						<option value="default"></option>
						<option th:each="employee: ${employees}"
							th:value="${employee.getEpn()}"
							th:text="|${employee.getFirstName()} ${employee.getLastName()}|"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-home"></i></span> <input
						type="password" class="form-control" th:field="*{password}" placeholder="Hasło"
						required="required">
				</div>
			</div>

			<div class="form-group">
				<label>Typ uprawnień</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-home"></i> </span>
					<select class="form-control" th:field="*{roles}">
						<option value="default"></option>
						<option th:each="role: ${roles}" th:value="${role.getId()}"
							th:text="${role.getDesc()}"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg">
					<i class="fa fa-save"></i> Zapisz
				</button>
				<a th:href="${'/admin/users'}"  class="btn btn-primary btn-lg"><i
					class="fa fa-close"></i> Anuluj</a>
			</div>

			<span th:utext="${successMessage}"></span>
			<div class="alert alert-success alert-dismissible col-sm-12"
				th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">×</button>
				<ul th:each="data : ${bindingResult.getAllErrors()}">
					<li
						th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
				</ul>
			</div>
		</form>
	</div>

</body>
</html>