<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BankControl-kontrole</title>
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/styleHome.css" th:href="@{/css/styleHome.css}"
	rel="stylesheet">
</head>
<body>
	<header th:fragment="admin-header">
		<nav class="navbar navbar-default navbar-expand-xl navbar-light">
			<div class="navbar-header d-flex col">
				<a class="navbar-brand" href="/admin/adminConsole"><i
					class="fa fa-university"></i>Bank<b>Control</b></a>
				<button type="button" data-target="#navbarCollapse"
					data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
					<span class="navbar-toggler-icon"></span> <span class="icon-bar"></span>
					<span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbarCollapse"
				class="collapse navbar-collapse justify-content-start">
				<ul class="nav navbar-nav">
					<li class="nav-item active"><a href="/admin/adminConsole"
						class="nav-link">Home</a></li>
					<li class="nav-item"><a href="/admin/commissions"
						class="nav-link">Zlecenia kontroli</a></li>
					<li class="nav-item"><a href="/admin/branches"
						class="nav-link">Zarządzaj oddziałami</a></li>
					<li class="nav-item"><a href="/admin/types"
						class="nav-link">Zarządzaj kontrolami</a></li>
					<li class="nav-item"><a href="/admin/users"
						class="nav-link">Zarządzaj użytkownikami</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right ml-auto">
					<li class="nav-item dropdown"><a data-toggle="dropdown"
						class="nav-link dropdown-toggle user-action"><span
							th:text="${#authentication.getPrincipal().getUsername()}"></span>
							<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="divider dropdown-divider"></li>
							<li sec:authorize="isAuthenticated()"><a
								th:href="@{/logout}" class="dropdown-item"><i
									class="fa fa-power-off"></i>Wyloguj</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>
	</header>
	<div th:insert="~{home :: control-roles}"></div>
	<footer>
		<div th:insert="~{home :: footer}"></div>
	</footer>	
</body>
</html>