<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BankControl-oddziały</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/static/table.css" th:href="@{/css/table.css}"
	rel="stylesheet">
<body>
	<header>
		<div th:insert="~{admin/adminConsole :: admin-header}"></div>
	</header>
	<div class="container">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>
							Wykaz <b>Oddziałów</b>
						</h2>
					</div>
					<div class="col-sm-6">
						<a href="/admin/addBranch" class="btn btn-success"><i
							class="material-icons">&#xE147;</i> <span>Dodaj Oddział</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>BRN</th>
						<th>Nazwa Oddziału</th>
						<th>Ulica</th>
						<th>Kod pocztowy</th>
						<th>Miejscowość</th>
						<th>e-Mail</th>
						<th>Status</th>
						<th>Akcje</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="branch: ${branches}">
						<td th:text="${branch.brn}">NRO</td>
						<td th:text="${branch.name}">Nazwa oddziału</td>
						<td th:text="${branch.street}">Ulica</td>
						<td th:text="${branch.zipCode}">Kod pocztowy</td>
						<td th:text="${branch.city}">Miejscowść</td>
						<td th:text="${branch.email}">e-mail</td>
						<td id="st"><span
							th:class="${branch.status}? 'status text-success' : 'status text-danger'">&bull;</span>
							<div
								th:text="${branch.convertBranchStatus(branch.status)}"></div>
						</td>
						<td><a
							th:href="@{/admin/branches/edit/{brn}(brn=${branch.brn})}"
							title="Edytuj" data-toggle="tooltip"><i
								class="material-icons">&#xE254;</i></a>
					</tr>
				</tbody>
			</table>
			<div class="clearfix">
				<nav aria-label="Pagination" th:if="${branches.totalPages gt 0}">
					<ul class="pagination">
						<li class="page-item"
							th:classappend="${branches.number eq 0} ? 'disabled'"><a
							class="page-link"
							th:href="@{/admin/branches?page={id}(id=${branches.number lt 2 ? 1 : branches.number})}"
							aria-label="Previous" title="Poprzednia strona" rel="tooltip">
								<span aria-hidden="true"><i
									class="fa fa-angle-double-left"></i></span>
						</a></li>
						<li class="page-item disabled" th:if="${branches.number > 0}"><a
							class="page-link" href="#"> <span> <i
									class="fa fa-ellipsis-h"></i></span>
						</a></li>
						<li class="page-item"
							th:classappend="${i eq branches.number + 1} ? 'active'"
							th:each="i : ${#numbers.sequence( branches.number + 1, branches.totalPages > 5 + branches.number ? branches.number + 5 : branches.totalPages, 1)}">
							<a class="page-link"
							th:href="@{/admin/branches?page={id}(id=${i})}" th:text="${i}"
							th:title="${'Page '+ i}" rel="tooltip"></a>
						</li>
						<li class="page-item disabled"
							th:if="${branches.number + 5 < branches.totalPages}"><a
							class="page-link" href="#"> <span> <i
									class="fa fa-ellipsis-h"></i></span>
						</a></li>
						<li class="page-item"
							th:classappend="${branches.number + 1 eq branches.totalPages} ? 'disabled'">
							<a class="page-link"
							th:href="@{/admin/branches?page={id}(id=${branches.number + 2})}"
							aria-label="Next" title="Następna strona" rel="tooltip"> <span
								aria-hidden="true" width="20" height="20"><i
									class="fa fa-angle-double-right"></i></span>
						</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</body>
</html>