<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BankControl-kontrole</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/static/table.css" th:href="@{/css/table.css}"
	rel="stylesheet">
</head>
<body>
	<header>
		<div th:insert="~{admin/adminConsole :: admin-header}"></div>
	</header>
	<div class="container">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>
							Zlecone <b>Kontrole</b>
						</h2>
					</div>
					<div class="col-sm-6">
						<a href="/admin/addCommission" class="btn btn-success"
							data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Zleć
								nową kontrolę</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Rodzaj Kontroli</th>
						<th>Oddział</th>
						<th>BRN</th>
						<th>Pracownik kontrolujący</th>
						<th>Termin kontroli</th>
						<th>Status kontroli</th>
						<th>Data wykonania</th>
						<th>Akcje</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="commission: ${commissions}">
						<td th:text="${commission.type.name}">Rodzaj
							kontroli</td>
						<td th:text="${commission.Branch.name}">Oddział</td>
						<td th:text="${commission.Branch.brn}">NRO</td>
						<td
							th:text="|${commission.Employee.firstName} ${commission.Employee.lastName}|">Pracownik
							kontrolujący</td>
						<td
							th:text="${#dates.format(new java.util.Date(commission.deadline),'dd-MM-YYYY')}">Termin
							kontroli</td>
						<td><span th:text="${commission.status} ? 'Wykonana'"
							class="label label-success">Status kontroli</span> <span
							th:text="${!commission.status} ? 'Do wykonania'"
							class="label label-warning">Status kontroli</span></td>
						<td
							th:text="${commission.date != null} ? ${#dates.format(commission.date,'dd-MM-yyyy')} : '---'">Data
							kontroli</td>
						<td><a th:if="${!commission.status}"
							th:href="@{/admin/commissions/edit/{id}(id=${commission.id})}"
							class="edit" data-toggle="modal"><i class="material-icons"
								data-toggle="tooltip" title="Edytuj" aria-pressed="true">&#xE254;</i></a>
							<a th:if="${commission.status}" class="edit" data-toggle="modal">
								<i class="material-icons" data-toggle="tooltip" title="Edytuj">
									&#xE254;</i>
						</a> <a th:if="${!commission.status}"
							th:href="@{/admin/commissions/delete/{id}(id=${commission.id})}"
							class="delete" data-toggle="modal"><i class="material-icons"
								data-toggle="tooltip" title="Usuń">&#xE872;</i></a> <a
							th:if="${commission.status}" class="delete" data-toggle="modal"><i
								class="material-icons" data-toggle="tooltip" title="Usuń">&#xE872;</i></a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="clearfix">
				<nav aria-label="Pagination" th:if="${commissions.totalPages gt 0}">
					<ul class="pagination">
						<li class="page-item"
							th:classappend="${commissions.number eq 0} ? 'disabled'"><a
							class="page-link"
							th:href="@{/admin/commissions?page={id}(id=${commissions.number lt 2 ? 1 : commissions.number})}"
							aria-label="Previous" title="Poprzednia strona" rel="tooltip">
								<span aria-hidden="true"><i
									class="fa fa-angle-double-left"></i></span>
						</a></li>
						<li class="page-item disabled" th:if="${commissions.number > 0}"><a
							class="page-link" href="#"> <span> <i
									class="fa fa-ellipsis-h"></i></span>
						</a></li>
						<li class="page-item"
							th:classappend="${i eq commissions.number + 1} ? 'active'"
							th:each="i : ${#numbers.sequence( commissions.number + 1, commissions.totalPages > 5 + commissions.number ? commissions.number + 5 : commissions.totalPages, 1)}">
							<a class="page-link"
							th:href="@{/admin/commissions?page={id}(id=${i})}" th:text="${i}"
							th:title="${'Page '+ i}" rel="tooltip"></a>
						</li>
						<li class="page-item disabled"
							th:if="${commissions.number + 5 < commissions.totalPages}"><a
							class="page-link" href="#"> <span> <i
									class="fa fa-ellipsis-h"></i></span>
						</a></li>
						<li class="page-item"
							th:classappend="${commissions.number + 1 eq commissions.totalPages} ? 'disabled'">
							<a class="page-link"
							th:href="@{/admin/commissions?page={id}(id=${commissions.number + 2})}"
							aria-label="Next" title="Następna strona" rel="tooltip"> <span
								aria-hidden="true" width="20" height="20"><i
									class="fa fa-angle-double-right"></i></span>
						</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</body>
</html>