<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BankControl- zarządzaj kontrolami</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/table.css" th:href="@{/css/table.css}"
	rel="stylesheet">
</head>
<header>
	<div th:insert="~{admin/adminConsole :: admin-header}"></div>
</header>
<body>
	<div th:each="type:${types}" th:object="${type}"
		class="container">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<span id="nazwa">
						<h2 th:text="${type.name}"></h2>
					</span>
					<div id="edytuj">
						<a th:href="${'editType/' + type.id}" class="edit"
							title="Edytuj" data-toggle="tooltip"> <i
							class="material-icons">&#xE254;</i></a>
					</div>
					<div id="status"
						th:text="${type.convertStatus(type.status)}"
						th:class="${type.status}? 'label label-success' : 'label label-danger'">
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Test kontrolny</th>
						<th>Odpowiedzi</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="test:${tests}">
						<td th:if="${type.id==test.type.id}"
							th:text="${test.name}"></td>
						<td th:if="${type.id==test.type.id}"><span
							th:each="ans:${test.testResult}"
							th:text="|${ans.name}; |"></span></td>
						<td th:if="${type.id==test.type.id}"><th:block
								th:if="${test.status}">
								<span class="status text-success">&bull;</span>
								<div th:text="${test.status} ? 'Aktywny'"></div>
							</th:block> <th:block th:if="${!test.status}">
								<span class="status text-danger">&bull;</span>
								<div th:text="${!test.status} ? 'Nieaktywny'"></div>
							</th:block></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>
