<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BankControl-kontrole</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/static/table.css" th:href="@{/css/table.css}"
	rel="stylesheet">
</head>
<body>
	<header>
		<div th:insert="~{admin/adminConsole :: admin-header}"></div>
	</header>
	<div class="container">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>
							<b>Użytkownicy</b>
						</h2>
					</div>
					<div class="col-sm-6">
						<a href="/admin/addUser" class="btn btn-success"
							data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>
							Dodaj użytkownika</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Login</th>
						<th>Imię</th>
						<th>Nazwisko</th>
						<th>Rola</th>
						<th>Akcje</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${users}">
							<th:block th:each="role: ${user.roles}">
								<td th:text="${user.epn}">Login</td>
								<td th:text="${user.employee.firstName}">Imię</td>
								<td th:text="${user.employee.lastName}">Nazwisko</td>
								<td th:text="${role.desc}">Rola</td>
							</th:block>
						<td><a th:href="@{/admin/users/edit/{id}(id=${user.epn})}"class="edit"
							data-toggle="modal"><i class="material-icons"
								data-toggle="tooltip" title="Edytuj" aria-pressed="true">&#xE254;</i></a>
							<a th:href="@{/admin/users/delete/{id}(id=${user.epn})}" class="delete"
							data-toggle="modal"><i class="material-icons"
								data-toggle="tooltip" title="Usuń">&#xE872;</i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>