<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BankControl- edytuj Oddział</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/static/form.css" th:href="@{/css/form.css}"
	rel="stylesheet">

</head>

<body>
	<div class="signup-form">
		<form th:object="${branch}"
			th:action="@{/admin/branches/branchEdit/{brn}(brn=${branch.brn})}"
			th:method="post">
			<div>
				<a th:href="${'/admin/branches'}" class="close" data-dismiss="modal"
					aria-hidden="true"><span>&times;</span></a>
			</div>
			<h3>Modyfikacja oddziału</h3>

			<hr>
			<div class="form-group">
				<lable>Nr NRO</lable>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-list-ol"></i></span>
					<input type="number" class="form-control" name="brn" th:field="*{brn}">
				</div>
			</div>
			<div class="form-group">
				<lable>Nazwa oddziału</lable>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-home"></i></span> <input
						type="text" class="form-control" name="name" th:field="*{name}"
						required="required" th:value="${branch.name}">
				</div>
			</div>
			<div class="form-group">
				<lable>Ulica</lable>
				<div class="input-group">
					<span class="input-group-addon"><i
						class="fa fa-map-o fa-10x"></i></span> <input type="text"
						class="form-control" name="street" th:field="*{street}"
						required="required" th:value="${branch.street}">
				</div>
			</div>
			<div class="form-group">
				<lable>Kod pocztowy</lable>
				<div class="input-group">
					<span class="input-group-addon"><i
						class="fa fa-map-marker fa-10x"></i></span> <input type="text"
						class="form-control" name="zipCode" th:field="*{zipCode}"
						required="required" th:value="${branch.zipCode}">
				</div>
			</div>
			<div class="form-group">
				<lable>Miejscowość</lable>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-map fa-6x"></i></span>
					<input type="text" class="form-control" name="city" th:field="*{city}"
						required="required" th:value="${branch.city}">
				</div>
			</div>
			<div class="form-group">
				<lable>Adres e-maile</lable>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-at"></i></span> <input
						type="email" class="form-control" name="email" th:field="*{email}"
						required="required" th:value="${branch.email}">
				</div>
			</div>
			<div class="form-group">
				<lable>Status</lable>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-toggle-on"></i></span>
					<select class="form-control" name="status" th:field="*{status}">
						<option th:each="status: ${branchStatus}" th:value="${branch.convertBranchStatusBack({status})}"
							th:text="${status}"
							th:selected="${#strings.equals(status, branch.convertBranchStatus(branch.status))}">
						</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg">
					<i class="fa fa-save"></i> Aktualizuj
				</button>
				<a th:href="${'/admin/branches'}" class="btn btn-primary btn-lg"><i
					class="fa fa-close"></i> Anuluj</a>
			</div>
		</form>
	</div>

</body>

</html>