<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BankControl- zarządzanie kontrolami</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Patua+One">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/form.css" th:href="@{/css/form.css}" rel="stylesheet">
</head>
<body>
	<div class="signup-form" style="width: 50%">
		<form action="#"
			th:action="@{/admin/editType/{id}(id=${type.id})}"
			th:object="${type}" method="post">
			<fieldset>
				<div>
					<a th:href="${'/admin/types'}" class="close"
						data-dismiss="modal" aria-hidden="true"><span>&times;</span></a>
				</div>
				<h3>Modyfikacja kontroli</h3>

				<hr>

				<div class="form-group">
					<div class="row">
						<div class="col-xs-6">
							<lable>Nazwa kontroli</lable>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-check-circle"></i></span> <input
									th:value="${type.name}" type="text" name="name" th:field="*{name}"
									class="form-control" id="inputName" required>
							</div>
						</div>
						<div class="col-xs-6">
							<lable>Status kontroli</lable>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-toggle-off"></i></span>
									 <select class="form-control"
									name="status" th:field="*{status}">
									<option th:each="status: ${controlStatus}" 
									th:value="${type.convertStatusBack(status)}" th:text="${status}"
									th:selected="${#strings.equals(status, type.convertStatus(type.status))}">
										</option>
								</select>
							</div>
						</div>
					</div>
				</div>


				<h3>Testy kontrolne</h3>
				<div th:each="test, itemStat : ${testsListForm.tests}" class=class="form-group">
					<div class="row">
						<div class="col-xs-6">
							<input hidden th:name="|tests[${itemStat.index}].id|"
								th:value="${test.getId()}" />
						</div>
						<div class="col-xs-6">
							<input hidden th:name="|tests[${itemStat.index}].type|"
								th:value="${test.type.id}" type="number" />
						</div>
						<div class="col-xs-6">
							<lable>Nazwa testu</lable>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-question-circle"></i></span> <input
									th:placeholder="${itemStat.count}"
									th:name="|tests[${itemStat.index}].name|"
									th:value="${test.getName()}" required
									class="form-control" />
							</div>
						</div>
						<div class="col-xs-6">
							<lable>Status testu</lable>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-toggle-off"></i></span> 
									 <select class="form-control"
									th:name="|tests[${itemStat.index}].status|"
									th:object="${test}">
									<option th:each="status: ${testStatus}" 
									th:value="${test.convertTestStatusBack(status)}" th:text="${status}"
									th:selected="${#strings.equals(status, test.convertTestStatus(test.status))}">
										</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="form-group" style="padding-top: 10px">
				<button type="submit" class="btn btn-primary btn-lg">
					<i class="fa fa-save"></i> Aktualizuj
				</button>
				<a th:href="${'/admin/types'}"
					class="btn btn-primary btn-lg"><i class="fa fa-close"></i>
					Anuluj</a>
			</div>
		</form>
	</div>
</body>
</html>
