<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BankControl- dodaj Oddział</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/static/form.css" th:href="@{/css/form.css}"
	rel="stylesheet">

</head>
<body>

	<div class="signup-form">
		<form th:object="${user}" th:action="@{/admin/users/editedUser/{epn}(epn=${user.epn})}"
			th:method="post" autocomplete="off">
			<div>
				<a th:href="${'/admin/users'}" class="close" data-dismiss="modal"
					aria-hidden="true"><span>&times;</span></a>
			</div>


			<h2>Edytuj dane użytkownika</h2>
			<p>Proszę uzupełnić wszystkie pola!</p>
			<hr>
			<div class="form-group">
				<label>Użytkownik</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-home"></i> </span>
					<lable type="text" class="form-control" name="nrp"
						th:text="|${user.employee.firstName} ${user.employee.lastName}">
				</div>
			</div>
			
			<input type="hidden" class="form-control" th:field="*{epn}">
			<input type="hidden" class="form-control" th:field="*{password}"
			required="required">
			

			<div class="form-group">
				<label>Typ uprawnień</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-home"></i> </span>
					<select class="form-control" th:field="*{roles}">
						<option th:each="role: ${roles}" th:value="${role.getId()}"
							th:text="${role.getDesc()}"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-lg">
					<i class="fa fa-save"></i> Zapisz
				</button>
				<a th:href="${'/admin/users'}"  class="btn btn-primary btn-lg"><i
					class="fa fa-close"></i> Anuluj</a>
			</div>

		</form>
	</div>

</body>
</html>